body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.grid-container{
    margin: 15px;
    display: grid;
    /* Utilizando unidad auto */
             /* grid-template-columns: auto auto auto; */
    /* Utilizando unidad fr */
    grid-template-columns: 3fr 2fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    padding: 20px;
    background-color: #c16e70;
}

.grid-item{
    background-color: #DC9E82;
    border: 2px solid #151E3F;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    color: #F2F3D9;
}

.grid-container-2{
    margin: 15px;
    display: grid;
    height: 500px;
    grid-template-columns: 3fr 3fr 3fr;
    /* Mismo espacio entre filas y columnas  */
        /* gap: 10px; */
    /* Espacio entre filas */
    row-gap: 20px;
        /* o se puede usar grid-row-gap */
    /* Espacio entre columna */
    column-gap: 25px;
        /* o se puede usar grid-colum-gap */
    padding: 20px;
    background-color: #b392ac;
    /* Justifica el contenido de nuestro container (items) */
            /* izquierda */
        /* justify-items: start; */
            /* derecha */
        /* justify-items: end; */
            /* centro */
        /* justify-items: center; */
            /* Stretch */
        /* justify-items: stretch; */
    /* Alinea el contenidode conteiner (vertical) */
        /* arriba */
        /* align-items: flex-start; */
        /* para que chequen align https://www.w3schools.com/cssref/playdemo.asp?filename=playcss_align-items&preval=baseline */
    /* Alinea y justifica en la misma linea de codigo */
    place-content: center center;
    /* para que chequen su documentacion https://developer.mozilla.org/en-US/docs/Web/CSS/place-content */
}

.grid-item-2{
    background-color: #D1B3C4;
    border: 2px solid #735D78;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    color: #ffffff;
}

.grid-container-3{
    margin: 15px;
    display: grid;
    height: 300px;
    grid-template-columns: auto auto auto auto auto ;
    grid-template-rows: auto auto auto;
    /* padding: 20px; */
    background-color: #f4a261;
}

.grid-item-3{
    /* background-color: #e9c46a;
    border: 2px solid #2a9d8f; */
    padding: 20px;
    font-size: 30px;
    text-align: center;
    color: #e76f51;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
    /* Justificamos el contenido */
        /* justify-self: end; */
    /* Alineamos el contentenido */
        /* align-self: flex-end; */
    /* Justificamos y alineamos en la misma code line */
    place-self: start center;
}